html {
    font-size: 16px;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    background-color: #e5eff5;
    color: #ffffff;
}

.grid-container {
    display: grid;
    grid-template-columns: 90%;
    padding-left: 30px;
    margin-top: 75px;
}

ul{
     list-style-type: none;
     padding: 0;
     line-height: 1.5em;
 }

input[type=button] {
    background-color: #c0df34;
    color: #ffffff;
    border: none;
    border-radius: 7.5px;
    width: 100%;
    padding: 15px 10px;
    margin-top: 20px;
}
 
h1 {
    color: #2ab2af;
    font-size: 1.3em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    color: #c0df34;
    font-size: 1em;
    line-height: 1.15em;
}

h4 span {
    font-size: 1.75em;
    padding-right: 10px;
}

h4 {
    font-size: 1.15em;
}

.section-1, .section-2, .section-3 {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 20px;
}

.section-1 {
    background-color: #ffffff;
}

.section-1 p {
    color: #98a6bd;
    font-size: 0.875em;
    line-height: 2em;
}

.section-2 {
    background-color: #2ab2af;
}

.section-3 {
    background-color: #30cfcc;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: #2ab2af; 
}
